<?xml version="1.0"?>
<robot name="robot">

    <material name="black">
        <color rgba="0.03 0.03 0.03 1"/>
    </material>
    
    <material name="grey">
        <color rgba="0.3 0.3 0.3 1"/>
    </material>

    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>
          
    <link name="base_link">
        <visual>
            <geometry>
                <cylinder length="0.62" radius="1.62"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0.5"/>
            <material name="black"/>
        </visual>
    </link>
    
    <link name="top_plate">
        <visual>
            <!--
            <geometry>
                <mesh filename="package://basic_description/meshes/tp_assembly.stl"/>
            </geometry>
            -->
            <geometry>
                <cylinder length="0.06" radius="1.4"/>
            </geometry>
            <material name="grey"/>
            <origin rpy="0 0 0" xyz="0 0 0.97
                "/>
        </visual>
    </link>
    
    <link name="camera_mount">
        <visual>
            <geometry>
                <box size="0.03 0.38 0.38"/>
            </geometry>        
            <material name="white"/>
            <origin rpy="0 0.5 0" xyz="-0.7 0 1.15"/>
        </visual>
    </link>
    
    <link name="battery">
        <visual>
            <geometry>
                <box size="0.685 0.7 0.18"/>
            </geometry>        
            <material name="black"/>
            <origin rpy="0 0 0" xyz="-0.24 0 1.1
                "/>
        </visual>
    </link>
    
    <link name="plate">
        <visual>
            <geometry>
                <box size="0.7 0.7 0.25"/>
            </geometry>
            <origin rpy="0 0 0" xyz="-0.2 0.78 1.025"/>
            <material name="white"/>
        </visual>
    </link>
</robot>